@font-face{
    font-family: main-font;
    src:url(/static/Exan-Regular.ttf)
}

*{
    font-family: main-font;
    font-size: 62.5%;
    color: whitesmoke;
    text-align: center;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

/* Hide scrollbar for Chrome, Safari and Opera */
*::-webkit-scrollbar {
    display: none;
}


body{
    background-color: black;
}


html{
    scroll-behavior: smooth;
}

a{
    text-decoration: none;
    transition: .5s;
}

a:hover{
    color: rgb(60, 60, 60);
}

.main_container{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.main_title{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 10em;
    margin: 2%;
    padding: 2%;
    height: 88vh;
}

.image_container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    margin: 2%;
    object-fit: contain;

}

.indiv_image{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    object-fit: contain;
}

.image_href{
    width: 30vw;
    transition: .3s;
}

.image_cap{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 2%;
    padding: 5%;
    transition: .5s;
    height: 40%;
    overflow-wrap: anywhere;
    font-size: 30em;
    padding: 5%;
    opacity: 25%;

    border: 3px solid rgb(212, 175, 55, 0.0);
}

.image_cap:hover{
    opacity: 100%;
    background-color: rgb(41,47,51,0.5);
    border: 3px solid rgb(212, 175, 55, 0.5);
    background-image: url('webbiconlighttexture.svg');
    background-position: center;
}

.indiv_image:hover > .image_cap{
    opacity: 100%;
    background-color: rgb(41,47,51,0.5);
    border: 3px solid rgb(212, 175, 55, 0.5);

    background-image: url('webbiconlighttexture.svg');
    background-position: center;
}

@media only screen and (max-width: 600px) {
    .image_cap{
        opacity: 100%;
        background-color: rgb(41,47,51,0.5);
        border: 3px solid rgb(212, 175, 55, 0.5);
    }

    .main_title{
        height: 98vh;
    }

    .image_href{
        width: 100%;
    }

}

